.house {
    position: absolute;
}

.house-1 {
    top: 2%;
    left: 12%;
    width: 28%;
    height: 16%;
}

.house-2 {
    top: 2%;
    left: 54.5%;
    width: 39%;
    height: 20%;
}

.house-3 {
    top: 18.5%;
    left: 32.1%;
    width: 22%;
    height: 14%;
    z-index: 2;
}

.house-4 {
    top: 26.5%;
    left: 4%;
    width: 34.5%;
    height: 24%;
}

.house-5 {
    top: 28%;
    left: 62%;
    width: 37.7%;
    height: 18%;
}

.house-6 {
    top: 50%;
    left: 2%;
    width: 31%;
    height: 16%;
    z-index: 2;
}

.house-7 {
    top: 49%;
    left: 73%;
    width: 24%;
    height: 14%;
}

.house-8 {
    top: 65%;
    left: 76%;
    width: 23%;
    height: 15%;
}

.house-9 {
    top: 78%;
    left: 4%;
    width: 35%;
    height: 18%;
}

.house-10 {
    top: 82%;
    left: 65%;
    width: 26%;
    height: 14%;
}