<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Управление данными</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="d-flex justify-content-center" style="margin: 10px 0 10px 0">
    <form method="get">
        <button class="btn btn-info" th:formaction="@{/administration/edit}">К панели редактирования</button>
        <button class="btn btn-secondary" th:method="post" th:formaction="@{/logout}">Выход</button>
    </form>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2 w-25">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Импортировать данные</h5>
                    <form method="post" th:action="@{/administration/upload}" enctype="multipart/form-data">
                        <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="select-import-type">Тип</label>
                            </div>
                            <select class="custom-select" id="select-import-type" name="import-type">
                                <option disabled selected value> -- выберите опцию -- </option>
                                <option th:each="importType : ${T(com.lavkatech.townofgames.entity.report.ImportType).values()}"
                                        th:text="${importType.value()}"
                                        th:value="${importType.name()}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
  <!--                          <div class="input-group-prepend">
                                <span class="input-group-text">Загрузить</span>
                            </div>-->
                            <div class="custom-file">
                                <label class="input-group-text" for="fileInput">Загрузить</label>
                                <input class="form-control" id="fileInput" type="file" name="file" accept=".xlsx">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Импорт</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <span th:if="${msgUld != null}" th:text="${msgUld}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
        </div>
        <div class="col col-lg-2 w-25">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Экспортировать отчет</h5>
                    <div class="input-group mb-3 justify-content-center">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select-import-type">Тип</label>
                        </div>
                        <select class="custom-select" id="select-export-type" name="export-type">
                            <option disabled selected value> -- выберите опцию -- </option>
                            <option th:each="importType : ${T(com.lavkatech.townofgames.entity.report.ExportType).values()}"
                                    th:text="${importType.value()}"
                                    th:value="${importType.name()}">
                            </option>
                        </select>
                    </div>
                    <form method="get" th:action="@{/administration/download}">
                        <button type="submit" class="btn btn-primary">Экспорт</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <span th:if="${msgDwld != null}" th:text="${msgDwld}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>