<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Venue</title>
</head>
<body>
<h2>Create concert</h2>
<form action="/addConcert" method="post">
    <input type="text" name="city">
    <input type="text" name="location">
    <input type="text" name="phone">
    <input type="text" name="genre">
    <input type="text" name="time">
    <input type="text" name="ntickets">
    <input type="text" name="price">

    <input type="submit" value="Proceed">
</form>
</body>
</html>