<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель редактирования</title>
</head>
<body>
<div>
    <label for="select-map">Выберите карту:</label>
    <select id="select-map">
        <option></option>
    </select>

    <label for="select-house">Выберите дом:</label>
    <select id="select-house">
        <option></option>
    </select>
    <form>
        <table>
            <tr>
                <th></th><th></th><th></th>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td>
            </tr>
        </table>
        <input type="submit" value="Принять изменения">
    </form>
</div>
</body>
</html>