<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель редактирования</title>
</head>
<body>
<div>
    <label for="select-map">Выберите карту:</label>
    <select id="select-map">
        <option th:each="group : ${T(com.lavkatech.townofgames.entity.enums.Group).values()}"
                th:text="${group}"
                th:value="${group}"
        ></option>
    </select>

    <label for="select-level">Выберите уровень:</label>
    <select id="select-level">
        <option th:each="level : ${T(com.lavkatech.townofgames.entity.enums.LevelSA).values()}"
                th:text="${level}"
                th:value="${level}"
        ></option>
    </select>

    <label for="select-house">Выберите дом:</label>
    <select id="select-house">
        <option th:each="house : ${houses}"
                th:text="${house.getName()}"
                th:value="${house.getId()}"
                th:attr="data-group=${house.getHouseGroup()}, data-level=${house.getHouseLevel()}"
        ></option>
    </select>
    <form id="edit-form" >
        <table th:each="house : ${houses}" th:attr="table-for=${house.getId()}" style="display:none;">
            <tr>
                <th>Параметр</th><th>Значение</th><th>URL</th>
            </tr>
            <tr>
                <td>Название</td><td><input type="text" th:value="${house.getName()}" input-param="name"></td><td></td>
            </tr>
            <tr>
                <td>Описание</td><td><input type="text" th:value="${house.getDescription()}" input-param="desc"></td><td></td>
            </tr>
            <tr>
                <td>Задача 1</td><td><input type="text" th:value="${house.getTask1()} != null? ${house.getTask1().getDescription()} : ''" input-param="task1"></td><td></td>
            </tr>
            <tr>
                <td>Задача 2</td><td><input type="text" th:value="${house.getTask2()} != null? ${house.getTask2().getDescription()} : ''" input-param="task2"></td><td></td>
            </tr>
            <tr>
                <td>Кнопка 1</td><td><input type="text" th:value="${house.getButtonText1()}" input-param="btn-text1"></td><td><input type="text" th:value="${house.getButtonURL1()}" input-param="btn-url1"></td>
            </tr>
            <tr>
                <td>Кнопка 2</td><td><input type="text" th:value="${house.getButtonText2()}" input-param="btn-text2"></td><td><input type="text" th:value="${house.getButtonURL2()}" input-param="btn-url2"></td>
            </tr>
            <tr>
                <td>Кнопка 3</td><td><input type="text" th:value="${house.getButtonText3()}" input-param="btn-text3"></td><td><input type="text" th:value="${house.getButtonURL3()}" input-param="btn-url3"></td>
            </tr>
        </table>
        <input type="submit" value="Принять изменения">
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/editPaneScript.js}"></script>
</body>
</html>