<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
      Эта строчка необходима в родительской странице, куда вставляется <iframe>,
      поскольку позволяет корректно отображать страницу на мобильных устройствах
      как на мобильных устройствах, а не десктопе.

      Параметр user-scalable=no отвечает за возможность пользователям увеличивать страницу двумя пальцами.
      Его оставляем по желанию, но я бы его не удалял.
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>УспехоГрад</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/houses.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <!-- Шрифт подкачивается с Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Верхняя панель с информацией о пользователе -->
    <div id="HUD">
        <div class="userinfo">
            <!-- Временное расположение ресурсов -->
            <div class="resources">
                <div class="resources-group clickable" data-tooltip="money">
                    <img th:src="@{/img/coin.svg}">
                    <p>
                        <span id="money-count"></span> / <span id="money-total"></span>
                        <img class="btn-tooltip" th:src="@{/img/info.svg}">
                    </p>
                </div>
                <div class="resources-group clickable" data-tooltip="tasks">
                    <img th:src="@{/img/flag.png}">
                    <p>
                        <span id="tasks-count">5</span> / <span id="tasks-total"></span>
                        <img class="btn-tooltip" th:src="@{/img/info.svg}">
                    </p>
                </div>
            </div>

            <!-- Никнейм и меню бургер. Никнейм временно отключен -->
            <p id="username" class="display-none"></p>
            <a class="clickable" href="https://dte.pmruservice.com/dte-main/game_rules">
                <img class="menu-burger" th:src="@{/img/menu.svg}"></img>
            </a>
        </div>

        <!-- Появляющаяся подсказка по ресурсам -->
        <div id="tooltip"></div>
    </div>    

    <!-- Всплывающее окно с информацией о здании -->
    <div id="popup-container">
        <!-- Кнопка назад -->
        <button id="popup-close-btn">
            <img th:src="@{/img/back.svg}">
            НАЗАД
        </button>

        <!-- Персональная картинка каждого дома -->
        <img id="popup-house-img">

        <!-- Персональное содержимое каждого дома. Наполняется динамически -->
        <div class="popup-content">
            <!-- Название и персональная иконка дома. Иконка временно отключена -->
            <div class="popup-header">
                <img class="display-none" id="popup-house-icon" th:src="@{/img/poker-chip.png}">
                <h1 id="popup-house-name"></h1>
            </div>

            <p id="popup-house-task-description"></p>
            <p id="popup-house-description"></p>

            <!-- Задачи, кнопки, сноски -->
            <div id="popup-body"></div>
        </div>
    </div>

    <!-- Карта с домами. Наполняется динамически -->
    <div id="playground">
        <img id="map">
    </div>

    <div class="bg-blur-overlay"></div>
    
    <!-- Подгрузка картинок домов -->
    <div class="display-none">
        <img th:src="@{/img/houses/1.jpg}">
        <img th:src="@{/img/houses/2.jpg}">
        <img th:src="@{/img/houses/3.jpg}">
        <img th:src="@{/img/houses/4.jpg}">
        <img th:src="@{/img/houses/5.jpg}">
        <img th:src="@{/img/houses/6.jpg}">
        <img th:src="@{/img/houses/7.jpg}">
        <img th:src="@{/img/houses/8.jpg}">
        <img th:src="@{/img/houses/9.jpg}">
    </div>

    <script id="jsonData" type="application/json" th:value="${json} != null? json : 'no json received'">

    </script>
    
    <script th:src="@{/js/script.js}"></script>
</body>
</html>