<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Мини Городок</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/houses.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Верхняя панель с информацией о пользователе -->
    <div id="HUD">
        <div class="userinfo">
            <p id="username">Игрок</p>
            <a href="#">
                <img th:src="@{/img/menu.svg}"></img>
            </a>
        </div>
    
        <div class="resources">
            <div class="resources-group" data-tooltip="money">
                <img th:src="@{img/coin.svg}">
                <p>
                    <span id="money-count"></span> / <span id="money-total"></span>
                    <img class="btn-tooltip" th:src="@{/img/info.svg}">
                </p>
            </div>
            <div class="resources-group" data-tooltip="tasks">
                <img th:src="@{/img/flag.png}">
                <p>
                    <span id="tasks-count">5</span> / <span id="tasks-total"></span>
                    <img class="btn-tooltip" th:src="@{/img/info.svg}">
                </p>
            </div>
        </div>

        <!-- Появляющаяся подсказка по ресурсам -->
        <div id="tooltip">Подсказка</div>
    </div>    

    <!-- Всплывающее окно с информацией о здании -->
    <div id="popup-container">
        <button id="popup-close-btn">
            <img th:src="@{/img/back.svg}">
            НАЗАД
        </button>

        <img id="popup-house-img" th:src="@{/img/houses/example.png}">

        <div class="popup-content">
            <div class="popup-header">
                <img id="popup-house-icon" th:src="@{/img/poker-chip.png}">
                <h1 id="popup-house-name"></h1>
            </div>

            <div class="popup-body">
                <p id="popup-tasks-count">Выполнено заданий 2 / 2</p>
                <p id="popup-bonus-task">Выполняйте задания, чтобы получить дополнительное вознаграждение <b id="bonus-task-amount">1000</b> монет!</p>

                <div class="popup-task-block">
                    Содержимое задачи. Большое содержимое задачи. Огромное содержимое задачи.
                    Содержимое задачи. Большое содержимое задачи. Огромное содержимое задачи.

                    <div class="popup-task-status">
                        <img th:src="@{/img/check.png}">
                        Выполнено
                    </div>
                </div>

                <div class="popup-task-block">
                    Содержимое задачи. Большое содержимое задачи. Огромное содержимое задачи.
                    Содержимое задачи. Большое содержимое задачи. Огромное содержимое задачи.

                    <div class="popup-task-status">
                        <img th:src="@{/img/check.png}">
                        Выполнено
                    </div>
                </div>

                <a class="popup-button" href="#">О программе фишки</a>
                <a class="popup-button" href="#">В раздел результаты</a>
            </div>
        </div>
    </div>

    <!-- Карта с домами -->
    <div id="playground">
        <img id="map" th:src="@{/img/maps/v1_2.png}">

        <div class="house house-1" data-house="1"></div>
        <div class="house house-2" data-house="2"></div>
        <div class="house house-3" data-house="3"></div>
        <div class="house house-4" data-house="4"></div>
        <div class="house house-5" data-house="5"></div>
        <div class="house house-6" data-house="6"></div>
        <div class="house house-7" data-house="7"></div>
        <div class="house house-8" data-house="8"></div>
        <div class="house house-9" data-house="9"></div>
        <div class="house house-10" data-house="10"></div>
    </div>

    <div class="bg-blur-overlay"></div>
    <script type="application/json"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>