<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="get" action="/displayAllConcerts">
    Select city:
    <select id="dropdown" name="selectedCity">
        <option th:each="city : ${cities}"
                th:text="${city}"
                th:value="${city}">

        </option>
    </select>
    <input type="submit">
</form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:src="@{/js/getVenues.js}">
</script>
</html>