<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Popularity Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Table sorting library -->
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>
<body>
<div>
    <form  th:method="get" th:action="@{/home}">
        <input style="margin: 10px;" class="btn btn-secondary" type="submit" value="Home">
    </form>
</div>
<table class="table table-striped sortable" id="table">
    <tr>
        <th>City<br>
            <input type="text" id="cityFilter" placeholder="Enter city..."></th>
        <th>Venue name<br>
            <input type="text" id="venueFilter" placeholder="Enter venue..."></th>
        <th>Band<br>
            <input type="text" id="bandFilter" placeholder="Enter band..."></th>
        <th>Genre<br>
            <input type="text" id="genreFilter" placeholder="Enter genre..."></th>
        <th>Number of tickets sold<br>
            <input type="text" id="ticketsFilter" placeholder="Enter number of tickets..."></th>
    </tr>
    <tr class="item" th:each="row : ${report}">
        <td th:text="${row.cityVenue()}"></td>
        <td th:text="${row.nameVenue()}"></td>
        <td th:text="${row.bandConcert()}"></td>
        <td th:text="${row.genreConcert()}"></td>
        <td th:text="${row.nTickets()}"></td>
    </tr>
</table>
</body>
<script>
    $("#cityFilter").on("keyup", (e) => doFilter(e.currentTarget.value, 0));
    $("#venueFilter").on("keyup", (e) => doFilter(e.currentTarget.value, 1));
    $("#bandFilter").on("keyup", (e) => doFilter(e.currentTarget.value, 2));
    $("#genreFilter").on("keyup", (e) => doFilter(e.currentTarget.value, 3));
    $("#ticketsFilter").on("keyup", (e) => doFilter(e.currentTarget.value, 4));

    function doFilter(input, column) {
        // Declare variables
        let inputCap = input.toUpperCase();
        let table = document.getElementById("table");
        let tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (let i = 0; i < tr.length; i++) {
            const row = tr[i];
            let td = row.getElementsByTagName("td")[column];
            if (td) {
                let val = td.textContent || td.innerText;
                if (val.toUpperCase().indexOf(inputCap) > -1) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    }
</script>
</html>